@section script{

    <script src="~/Scripts/juery.migrate.js"></script>
    <script src="~/Scripts/xheditor/xheditor-1.2.1.min.js"></script>
<script src="~/Scripts/xheditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $(function () {
            $('#announement_datagrid_announcement').datagrid({
                fit: true,
                border: false,
                toolbar: '#announement_toolbar_announcement',
                fitColumns: true,
                url: '/Website/Announcements',
                pageSize: 20,
                singleSelect: true,
                columns: [[
                    {
                        field: 'Title', halign: 'center', title: '标题', width: 200
                    }, {
                        field: 'CreateTime', title: '创建时间', align: 'center', width: 160, fixed: true, formatter: function (value, rows) {
                            if (value) {
                                return $.getDate(value).Format('yyyy-MM-dd hh:mm:ss');
                            }
                        }
                    }, {
                        field: 'PublishedTime', title: '发布时间', align: 'center', width: 160, fixed: true, formatter: function (value, rows) {
                            if (value) {
                                return $.getDate(value).Format('yyyy-MM-dd hh:mm:ss');
                            } else {
                                return '<span style="color:gray;">--未发布--</span>'
                            }
                        }
                    }, {
                        field: 'EmployeeName', align: 'center', title: '创建人', width: 150, fixed: true
                    }, {
                        field: 'IsPublished', align: 'center', title: '状态', width: 80, fixed: true, formatter: function (value, rows, index) {
                            if (value) {
                                return '<span  style="cursor:pointer;display:inline-block;width:16px;height:16px;vertical-align: middle;" class=" icon-pass" title="已发布，点击可更改为未发布" onclick="changeStatus(' + index + ')"></span>';
                            } else {
                                return '<span   style="cursor:pointer;display:inline-block;width:16px;height:16px;vertical-align: middle;" class=" icon-nopass" title="未发布，点击可更改为已发布" onclick="changeStatus(' + index + ')"></span>';
                            }
                        }
                    }, {
                        field: 'edit', align: 'center', title: '操作', width: 80, fixed: true, formatter: function (value, row, index) {
                            return '<a class="neweditbutton" iconCls="icon-edit" plain="true" onclick="openEditDialog(' + index + ')">编辑</a>'
                        }
                    }

                ]],
                onLoadSuccess: function () {
                    $('.neweditbutton').removeClass('neweditbutton').linkbutton();
                    $('.newtooltip').removeClass('newtooltip').tooltip();
                    $(this).datagrid('fixRowHeight')
                },
                onDblClickRow: function (index, row) {
                    openEditDialog(index);
                },
                rownumbers: true,
                pagination: true
            })

            $('#editor').xheditor({
                skin: 'nostyle', emotMark: false
                //, tools:"Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Media,Hr,Emot,Table,|,Source,Preview,Print,Fullscreen"
                      , tools: "Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Hr,Emot,Table,|,Source,Preview,Fullscreen"
            });
        })
        /*打开编辑窗口*/
        function openEditDialog(index) {
            $('#announcement_form').form('reset');
            $('#announcement_dialog_edit').dialog('setTitle', '编辑公告').dialog('open');

            var row = $('#announement_datagrid_announcement').datagrid('getRows')[index];
            $.get('/Website/GetAnnouncement/' + row.Id, {}, function (data) {
                $('#announcement_form').form('load', data);
            }, 'json');
        }
        /*更改状态*/
        function changeStatus(index) {
            var row = $('#announement_datagrid_announcement').datagrid('getRows')[index];
            $.post('/Website/ChangeAnnouncementStatus/' + row.Id, {}, function (data) {
                if (data.resultCode == 1) {
                    $('#announement_datagrid_announcement').datagrid('updateRow', {
                        index: index, row: {
                            PublishedTime: data.publishedTime,
                            IsPublished: data.status
                        }
                    });
                    $('.neweditbutton').removeClass('neweditbutton').linkbutton();
                 

                } else {
                    $.messager.alert('错误', data.message, 'warning');
                }
            }, 'json')
        }
        /*打开添加窗口*/
        function openAddDialog(index) {
            $('#announcement_form').form('reset');
            $('#announcement_dialog_edit').dialog('setTitle', '添加公告').dialog('open');
        }
        /*关闭编辑窗口*/
        function closeDialog() {
            $('#announcement_form').form('reset');
            $('#announcement_dialog_edit').dialog('close');
        }

        /*保存*/
        function save() {
      
            if ($('#announcement_form').form('validate')) {
                var obj = $('#announcement_form').serializeObject();
                if (obj.Content == '') {
                    $.messager.alert('提示', '请输入公告内容', 'info');
                } else {
                  
                    obj.Content = encodeURIComponent(obj.Content);
                    var url;
                    if (obj.Id == '00000000-0000-0000-0000-00000000000') {
                        url = '/Website/AddAnnouncement';
                    } else {
                        url = '/Website/EditAnnouncement';
                    }
                    closeDialog();
                    $.post(url, obj, function (data) {
                        if (data.resultCode == 1) {
                            $('#announement_datagrid_announcement').datagrid('reload');
                        }
                    })
                }
               
            }
          
        }

        function remove() {
            var row = $('#announement_datagrid_announcement').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('确认', '确认要删除该条公告？', function (r) {
                    if (r) {
                        $.post('/Website/RemoveAnnouncement/' + row.Id, {}, function (data) {
                            if (data.resultCode == 1) {
                                $('#announement_datagrid_announcement').datagrid('reload');

                            } else {
                                $.messager.alert('错误', data.message, 'warning');
                            }
                        }, 'json')
                    }
                })

            } else {
                $.messager.alert('提示', '请选择要删除的公告', 'info');
            }
          
        }
    </script>
}
<div id="announement_datagrid_announcement">
    <div id="announement_toolbar_announcement">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td><a class="easyui-linkbutton" plain="true" iconcls="icon-add" onclick="openAddDialog();">添加</a></td>
                    <td><div class="datagrid-btn-separator"></div></td>
                    <td><a class="easyui-linkbutton" plain="true" iconcls="icon-remove" onclick="window.remove();">删除</a></td>
                    <td><div class="datagrid-btn-separator"></div></td>
                    <td>
                        搜索：<input class="easyui-searchbox" data-options="prompt:'请输入查询关键字',searcher:function(value,name){$('#announement_datagrid_announcement').datagrid('load',{keyword:value})},width:235" />
                    </td>
                    <td><div class="datagrid-btn-separator"></div></td>
                    <td><a class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="$('#announement_datagrid_announcement').datagrid('reload')">刷新</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div id="announcement_dialog_edit" style="padding:10px;width:800px;height:510px;" closed="true" class="easyui-dialog" modal="true" buttons="#announcement_button_edit">
    <form id="announcement_form">

        <input name="Id" value="00000000-0000-0000-0000-00000000000" style="display:none;" hidden />
        <p>
            <span>标题：</span><input name="Title" class="easyui-textbox" data-options="validType:'length[0,100]',required:true" style="width:580px;" />
            <span style="margin-left:20px;">发布：</span><input name="IsPublished" style="margin-left:10px;" type="radio" value="true" checked />是  <input name="IsPublished" style="margin-left:10px;" type="radio" value="false" />否
        </p>
        <p style="margin-top:10px;">公告内容：</p>
        <textarea style="width:100%;height:330px;" id="editor" name="Content"></textarea>
    </form>
    <div id="announcement_button_edit">
        <a class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="$('#announcement_dialog_edit').dialog('close')">关闭</a>
    </div>
</div>